html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container{
  width: 100%;
  height: 50%;
  transform: translateY(450px);
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}