@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/TESLA.ttf");
  font-family: Tesla;
}

@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/PFDinTextCompPro-Medium.ttf");
  font-family: pfd-medium;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

button,
input {
  outline: none;
  border: none;
}

input[type=radio] {
  position: absolute;
  top: -5000px;
  left: -5000px;
  opacity: 0;
  z-index: -1000;
}

.slider {
  position: relative;
  height: 100%;
}

.slider--control {
  z-index: 50;
  position: absolute;
  top: calc(50% - 2rem);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.slider--control.left {
  left: 4rem;
}

.slider--control.right {
  right: 4rem;
}

.slider--control label {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform: scale(0);
  transition: transform 0s 0s;
}

.slider--el {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 2.8s, z-index 0.1s;
  overflow: hidden;
}

.slider--el.anim-5parts .part {
  position: absolute;
  top: 0;
  width: 20.1%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
}

.slider--el.anim-5parts .part:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  top: 0;
  width: 500%;
  height: 100%;
  background-image: url("https://source.unsplash.com/VnUrGq7CstM");
}

.slider--el.anim-5parts .part.part-1 {
  transition: transform 1.1s 0.3s;
  left: 0%;
}

.slider--el.anim-5parts .part.part-1:before {
  left: 0%;
}

.slider--el.anim-5parts .part.part-2 {
  transition: transform 1.1s 0.5s;
  left: 20%;
}

.slider--el.anim-5parts .part.part-2:before {
  left: -100%;
}

.slider--el.anim-5parts .part.part-3 {
  transition: transform 1.1s 0.7s;
  left: 40%;
}
  
.slider--el.anim-5parts .part.part-3:before {
  left: -200%;
}

.slider--el.anim-5parts .part.part-4 {
  transition: transform 1.1s 0.5s;
  left: 60%;
}
  
.slider--el.anim-5parts .part.part-4:before {
  left: -300%;
}

.slider--el.anim-5parts .part.part-5 {
  transition: transform 1.1s 0.3s;
  left: 80%;
}
  
.slider--el.anim-5parts .part.part-5:before {
  left: -400%;
}

.slider--el.anim-5parts .part {
  transform: translateY(100%);
}

.slider--el.anim-9parts .slider--el-bg {
  perspective: 2000;
}

.slider--el.anim-9parts .part {
  position: absolute;
  width: 33.5%;
  height: 33.5%;
  overflow: hidden;
  will-change: transform;
  transform-origin: 0% 100%;
}

.slider--el.anim-9parts .part:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  width: 300%;
  height: 300%;
  background-image: url("https://source.unsplash.com/zYSzB2-cNBc");
}

.slider--el.anim-9parts .part.left-top {
  top: 0;
  left: 0;
  transition: transform 0.9s 0.5s cubic-bezier(0.58, -0.7, 0.59, 0.95);
}

.slider--el.anim-9parts .part.left-top:before {
  top: 0%;
  left: 0%;
}

.slider--el.anim-9parts .part.mid-top {
  top: 0%;
  left: 33.33%;
  transition: transform 0.9s 0.4s cubic-bezier(0.58, -0.7, 0.59, 0.95);
}
  
.slider--el.anim-9parts .part.mid-top:before {
  top: 0%;
  left: -100%;
}

.slider--el.anim-9parts .part.right-top {
  top: 0%;
  left: 66.67%;
  transition: transform 0.9s 0.5s cubic-bezier(0.58, -0.7, 0.59, 0.95);
}
  
.slider--el.anim-9parts .part.right-top:before {
  top: 0%;
  left: -200%;
}

.slider--el.anim-9parts .part.left-mid {
  top: 33.33%;
  left: 0%;
  transition: transform 0.9s 0.6s cubic-bezier(0.58, -0.7, 0.59, 0.95);
}
  
.slider--el.anim-9parts .part.left-mid:before {
  top: -100%;
  left: 0%;
}

.slider--el.anim-9parts .part.mid-mid {
  top: 33.33%;
  left: 33.33%;
  transition: transform 0.9s 0.3s cubic-bezier(0.58, -0.7, 0.59, 0.95);
}  
  
.slider--el.anim-9parts .part.mid-mid:before {
  top: -100%;
  left: -100%;
}

.slider--el.anim-9parts .part.right-mid {
  top: 33.33%;
  left: 66.67%;
  transition: transform 0.9s 0.6s cubic-bezier(0.58, -0.7, 0.59, 0.95);
}  
    
.slider--el.anim-9parts .part.right-mid:before {
  top: -100%;
  left: -200%;
}

.slider--el.anim-9parts .part.left-bot {
  top: 66.67%;
  left: 0%;
  transition: transform 0.9s 0.7s cubic-bezier(0.58, -0.7, 0.59, 0.95);
}  
      
.slider--el.anim-9parts .part.left-bot:before {
  top: -200%;
  left: 0%;
}

.slider--el.anim-9parts .part.mid-bot {
  top: 66.67%;
  left: 33.33%;
  transition: transform 0.9s 0.8s cubic-bezier(0.58, -0.7, 0.59, 0.95);
}  
        
.slider--el.anim-9parts .part.mid-bot:before {
  top: -200%;
  left: -100%;
}

.slider--el.anim-9parts .part.right-bot {
  top: 66.67%;
  left: 66.67%;
  transition: transform 0.9s 0.8s cubic-bezier(0.58, -0.7, 0.59, 0.95);
}  
          
.slider--el.anim-9parts .part.right-bot:before {
  top: -200%;
  left: -200%;
}

.slider--el.anim-9parts .part {
  transform: rotateX(90deg);
  opacity: 0;
}

.slider--el.anim-3parts .part {
  position: absolute;
  top: 0;
  width: 33.5%;
  height: 100%;
  overflow: hidden;
  transition: transform 1.5s 0.3s;
  will-change: transform;
}

.slider--el.anim-3parts .part:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  width: 300%;
  height: 100%;
  background-image: url("https://source.unsplash.com/uZFwvWVtL-c");
}

.slider--el.anim-3parts .part.left {
  left: 0;
}

.slider--el.anim-3parts .part.left:before {
  left: 0;
}

.slider--el.anim-3parts .part.mid {
  left: 33.33%;
}

.slider--el.anim-3parts .part.mid:before {
  left: -100%;
}

.slider--el.anim-3parts .part.right {
  left: 66.67%;
}
  
.slider--el.anim-3parts .part.right:before {
  left: -200%;
}

.slider--el.anim-3parts .left {
  transform: translate3d(-100%, -33.33%, 0);
}

.slider--el.anim-3parts .mid {
  transform: translate3d(0, 100%, 0);
}

.slider--el.anim-3parts .right {
  transform: translate3d(100%, -33.33%, 0);
}

.slider--el.anim-4parts .part {
  position: absolute;
  width: 50.2%;
  height: 50.2%;
  overflow: hidden;
  will-change: transform;
}

.slider--el.anim-4parts .part:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  width: 200%;
  height: 200%;
  background-image: url("https://source.unsplash.com/zAjdgNXsMeg");
}

.slider--el.anim-4parts .part.top {
  top: 0;
  transition: transform 1.3s 0.3s;
}

.slider--el.anim-4parts .part.top:before {
  top: 0;
}

.slider--el.anim-4parts .part.bot {
  top: 50%;
  transition: transform 1.3s 0.5s;
}
  
.slider--el.anim-4parts .part.bot:before {
  top: -100%;
}

.slider--el.anim-4parts .part.left {
  left: 0;
}
    
.slider--el.anim-4parts .part.left:before {
  left: 0;
}

.slider--el.anim-4parts .part.right {
  left: 50%;  
}
      
.slider--el.anim-4parts .part.right:before {
  left: -100%;
}

.slider--el.anim-4parts .left {
  transform: translateX(-100%);
}

.slider--el.anim-4parts .right {
  transform: translateX(100%);
}

.slider--el-bg {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-size: cover;
  transition: transform 1s 1.5s;
  will-change: transform;
}

.slider--el-bg .part:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}

.slider--el-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20rem;
  transition: opacity 0.3s;
  opacity: 0;
}

.slider--el-heading {
  font-size: 9rem;
  font-family: Tesla;
  text-transform: uppercase;
  color: #fff;
}

#page1:checked ~ .slider--el-1 {
  z-index: 10;
}

#page1:checked ~ .slider--el-1 .slider--el-bg {
  transform: scale(0.834);
}

#page1:checked ~ .slider--el-1 .slider--el-content {
  opacity: 1;
  transition: opacity 0.3s 1.8s;
}

#page1:checked ~ .slider--el-1 .part {
  transform: translateZ(0);
  opacity: 1;
}

#page2:checked ~ .slider--el-2 {
  z-index: 10;
}
  
#page2:checked ~ .slider--el-2 .slider--el-bg {
  transform: scale(0.834);
}
  
#page2:checked ~ .slider--el-2 .slider--el-content {
  opacity: 1;
  transition: opacity 0.3s 1.8s;
}
  
#page2:checked ~ .slider--el-2 .part {
  transform: translateZ(0);
  opacity: 1;
}

#page3:checked ~ .slider--el-3 {
  z-index: 10;
}
    
#page3:checked ~ .slider--el-3 .slider--el-bg {
  transform: scale(0.834);
}
    
#page3:checked ~ .slider--el-3 .slider--el-content {
  opacity: 1;
  transition: opacity 0.3s 1.8s;
}
    
#page3:checked ~ .slider--el-3 .part {
  transform: translateZ(0);
  opacity: 1;
}

#page4:checked ~ .slider--el-4 {
  z-index: 10;
}
    
#page4:checked ~ .slider--el-4 .slider--el-bg {
  transform: scale(0.834);
}
    
#page4:checked ~ .slider--el-4 .slider--el-content {
  opacity: 1;
  transition: opacity 0.3s 1.8s;
}
    
#page4:checked ~ .slider--el-4 .part {
  transform: translateZ(0);
  opacity: 1;
}

#page1:checked ~ .slider--control.left .page4-left {
  z-index: 5000;
  transform: scale(1);
  transition: transform 0s 2.1s;
}

#page1:checked ~ .slider--control.right .page2-right {
  z-index: 5000;
  transform: scale(1);
  transition: transform 0s 2.1s;
}

#page2:checked ~ .slider--control.left .page1-left {
  z-index: 5000;
  transform: scale(1);
  transition: transform 0s 2.1s;
}
  
#page2:checked ~ .slider--control.right .page3-right {
  z-index: 5000;
  transform: scale(1);
  transition: transform 0s 2.1s;
}

#page3:checked ~ .slider--control.left .page2-left {
  z-index: 5000;
  transform: scale(1);
  transition: transform 0s 2.1s;
}
  
#page3:checked ~ .slider--control.right .page4-right {
  z-index: 5000;
  transform: scale(1);
  transition: transform 0s 2.1s;
}

#page4:checked ~ .slider--control.left .page3-left {
  z-index: 5000;
  transform: scale(1);
  transition: transform 0s 2.1s;
}
    
#page4:checked ~ .slider--control.right .page1-right {
  z-index: 5000;
  transform: scale(1);
  transition: transform 0s 2.1s;
}
